:root {
  --color-bg-1: rgb(124, 153, 239);
  --color-bg-2: rgb(148, 173, 248);
  /* 88, 121, 232 */
  --color-white: hsl(0, 0%, 95%);
  --color-off-white: rgba(255, 255, 234, 255);

  --color-places-green: rgba(8, 63, 63, 255);

  --transition: all 400ms ease;
}

* {
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Gochi Hand", sans-serif;
}

a {
  color: var(--color-white);
  transition: var(--transition);
  font-size: 1.5rem;
}

a:hover {
  color: rgb(253, 218, 54);
}

body {
  /* font-family: "Gochi Hand", sans-serif; */
  line-height: 1.7;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.25rem;
  font-family: "Gloria Hallelujah";
  font-weight: 200;
}

/* =============================== NAV =============================== */

nav {
  height: 6rem;
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* background: red; */
}

/* nav class on scroll using js */
.window-scrolled {
  /* todo change the colors here. eventually need themes */
  /* background: var(--color-bg-1); */
  /* border-bottom: 0.2rem solid var(--color-bg-1); */

  width: 50%;
  left: 25%;

  background: rgba(124, 153, 239, 0.3);
  /* background of nav bar currently gets lighter when window is scrolled */
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  transition: var(--transition);
}

.window-scrolled:hover {
  background: var(--color-bg-1);
  width: 100vw;
  left: 0;
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.nav_logo {
  height: 5rem;
}

/* only needed on tablets and phones */
.nav_toggle-btn {
  display: none;
}

#home_nav {
  display: none;
}

/* =============================== HEADER =============================== */

header {
  /* max-width: 100vw; */
  /* height: 100vh; */
  position: relative;
  top: 0;
  /* background: var(--color-white); */
  background: var(--color-off-white);
}

.header_container {
  position: relative;
}

.header_image_container {
  /* padding: auto; */
  background: var(--color-bg-2);
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.header_img {
  width: 75%;
  /* width: 100%; */
  /* width: 90vw;
    height: 100vh;
    align-self: center; */
  /* overflow: hidden; */
}

.media_container {
  max-width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_video {
  width: 65vw;
  height: 65vh;
}

.listen_icons_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listen_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.listen_icon {
  /* color: var(--color-bg-2); */
  color: var(--color-places-green);
  font-size: 5rem;
}

.swiper-wrapper {
  transition: var(--transition);
}

.swiper {
  /* todo play with height so full image will show but overall height will decrease */
  width: 100%;
  height: 90%;
  margin-top: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

/* =============================== ABOUT =============================== */

#about {
  background: var(--color-off-white);
  scroll-margin-top: -2rem;
}

.about_container {
  border-bottom: 0.1rem solid black;
  text-align: center;
  margin: 0 auto 8rem auto;
  width: 75%;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 6rem;
}

.about_description {
  margin: auto;
  width: 50%;
}

.member_container {
  margin-top: 3rem;
}

/* =============================== LIVE =============================== */

#live {
  background: var(--color-off-white);
  scroll-margin-top: 8rem;
}

.live_container {
  width: 75%;
  margin: 0 auto 0 auto;
  text-align: center;
  /* padding-bottom: 10rem; */
}

.live_container h1 {
  margin-bottom: 4rem;
}

.show_container {
  display: grid;
  grid-template-columns: 30% 50% 20%;
}

.date_container {
  text-align: left;
}

.ticket_btn {
  color: black;
  background: white;
  width: 8rem;
  height: 3rem;
  place-items: center;
  border: 0.25rem solid black;
  cursor: pointer;
}

.ticket_btn:hover {
  color: white;
  background: black;
}

.daboiz_img_container {
  margin-top: 10rem;
  width: 100%;
  height: 40rem;
  display: -ms-inline-grid;
}

.daboiz_img {
  width: 100%;
  border-radius: 3rem;
}

/* =============================== CONTACT =============================== */

#contact {
  background: var(--color-off-white);
  /* background: var(--color-bg-2); */
  padding-bottom: 3rem;
  padding-top: 3rem;
  border-top: 0.2rem solid black;
}

.contact_container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.contact_links li a {
  color: black;
  font-size: 3rem;
}

.contact_links li a:hover {
  color: var(--color-bg-1);
}

/* =============================== MEDIA QUERIES (medium screens) =============================== */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  /* =============================== NAV =============================== */
  .nav_links {
    position: absolute;
    top: 80%;
    left: 0;
    flex-direction: column;
    gap: 0;
    display: none;
  }
  .window-scrolled {
    width: 100vw;
    left: 0;
    background: var(--color-bg-1);
    /* background: none; */
    /* background of nav bar currently gets lighter when window is scrolled */
    /* box-shadow: none; */
    /* transition: none; */
  }

  .window-scrolled:hover {
    background: var(--color-bg-1);
    width: 100vw;
    left: 0;
  }

  .nav_links li {
    height: 5rem;
    width: 14rem;
    box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.3);
    animation: navAnimation 800ms ease forwards;
    transform: rotateX(90deg);
    opacity: 0;
    transform-origin: top;
  }

  .nav_links li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav_links li:nth-child(4) {
    animation-delay: 400ms;
  }

  .nav_links li:nth-child(5) {
    animation-delay: 600ms;
  }

  .nav_links li:nth-child(6) {
    animation-delay: 800ms;
  }

  @keyframes navAnimation {
    to {
      transform: rotateX(0);
      opacity: 1;
    }
  }

  .nav_links li a {
    background: var(--color-bg-1);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem 5rem;
  }

  .nav_toggle-btn {
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    color: var(--color-white);
    position: absolute;
    left: 3rem;
  }

  #nav_toggle-close {
    display: none;
  }

  #sd_nav {
    display: none;
  }

  #home_nav {
    display: inline-block;
  }

  /* =============================== HEADER =============================== */

  .listen_icon {
    font-size: 4rem;
  }

  .listen_links {
    margin-top: 1.5rem;
  }

  /* =============================== LIVE =============================== */
  .daboiz_img_container {
    background: red;
    width: 100%;
    height: auto;
    padding-bottom: 7rem;
    margin: 0 2rem 0 2rem;
  }

  .daboiz_img {
    height: 14rem;
    /* width: 45rem; */
  }
}

/* ===================================== MEDIA QUERIES (small screens) =====================================*/
@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 3rem;
    line-height: 1.3;
  }
  .header_image_container {
    width: 100vw;
    height: 85vh;
  }

  .header_img {
    width: 95%;
  }

  .media_container {
    height: 80vh;
  }

  .header_video {
    height: 65vh;
    width: 80vw;
  }

  .swiper {
    /* todo play with height so full image will show but overall height will decrease */
    width: 98%;
    height: 50%;
    margin-top: 8rem;
  }

  .swiper-slide img {
    /* width: 100%;
        height: 100%; */
    object-fit: fill;
  }
}
